



body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

/* Heading */

.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}
.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 7% 15%;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

p{
  color: #8f8f8f;
}
/* NAVBAR */
.container {
  padding: 0 0;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;

}
.navbar {
  padding:0 0 4.5rem;
}

/* download button */

.download-button {
  margin: 5% 3% 5% 0;

}

/* Title sectoin */

#title{
  background-color: #ff4c68;
  color: #fff;
  text-align: left;
}
#title .container-fluid {
  padding: 3% 15% 7%;
}
/* title img */

.title_img {
  width: 25%;
  transform: rotate(25deg);
  position: absolute;
  right:24%;
}

/* <!-- Features --> */

#features {
  background-color: #fff;
  position: relative;
}
.feature-title {
  font-size: 1.5rem;
}

.feat_icons {
  color: #ef8172;
  margin-bottom: 1rem;
}
.feat_icons:hover {
  color: #ff4c68;
}

/* Testimonials section */

#testimonials {
  background-color: #ef8172;
  color: #fff;
}

.testomonial-text {
  font-size: 3rem;
  line-height: 1.5;
}
.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press section */

#press {
  background-color: #ef8172;
}

.press_logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing section */

#pricing {
  padding: 100px;
}

.pricing-text {
  font-size: 3rem;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA section */

#cta {
  background-color: #ff4c68;
  color: #fff;
}

/* footer */

#footer {
  background-color: #fff;
}

.contacts-logo {
  margin:20px 10px;
}


@media (max-width: 1024px) {
  .title_img {
    position: static;
    transform: rotate(0);
  }
  #title {
    text-align: center;
  }
}
